Chapter8/Ch8.R3/Ch7.R7-4/Service References/ServiceReference1/PlaylistService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PlaylistService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WebAPIForLoadTest/WcfServices/PlaylistService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WebAPIForLoadTest/WcfServices/PlaylistService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WebAPIForLoadTest/WcfServices/PlaylistService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebAPIForLoadTest.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlaylistService_GetPlayList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayList" />
  </wsdl:message>
  <wsdl:message name="IPlaylistService_GetPlayList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayListResponse" />
  </wsdl:message>
  <wsdl:message name="IPlaylistService_GetAllPlayLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayLists" />
  </wsdl:message>
  <wsdl:message name="IPlaylistService_GetAllPlayLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayListsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlaylistService">
    <wsdl:operation name="GetPlayList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlaylistService/GetPlayList" message="tns:IPlaylistService_GetPlayList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlaylistService/GetPlayListResponse" message="tns:IPlaylistService_GetPlayList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlaylistService/GetAllPlayLists" message="tns:IPlaylistService_GetAllPlayLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlaylistService/GetAllPlayListsResponse" message="tns:IPlaylistService_GetAllPlayLists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPlaylistService" type="tns:IPlaylistService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayList">
      <soap:operation soapAction="http://tempuri.org/IPlaylistService/GetPlayList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayLists">
      <soap:operation soapAction="http://tempuri.org/IPlaylistService/GetAllPlayLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlaylistService">
    <wsdl:port name="BasicHttpBinding_IPlaylistService" binding="tns:BasicHttpBinding_IPlaylistService">
      <soap:address location="http://localhost/WebAPIForLoadTest/WcfServices/PlaylistService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>